<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <p> voce entrou no index</p>
    <form action="/add", method="POST">
        <input type="text" name="nome" placeholder="Nome do cachorro"> <br>
        <input type="number" name="idade" placeholder="Idade"><br>
        <input type="text" name="raca" placeholder="Raça"><br>
        <input type="dono" name="dono" placeholder="Dono"><br>
        <input type="number" name=tel placeholder="Telefone de contato"><br>
        <button> Adicionar Cachorro </button>
    </form>
</body>
</html>