
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro 401 - Não autorizado</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='401.css') }}" media="screen" />
</head>
<body>
    <div class="error-container">
        <h1>401</h1>
        <p>Acesso não autorizado</p>
        <p>Você não tem permissão para acessar esta página.</p>
        <a href="/login"> <button type="button" class="button"> Voltar para o Login </button></a>
    </div>
</body>
</html>

    
    {% with resposta = get_flashed_messages(with_categories = True)%}
                {% if resposta %}
                    {% for category, message in resposta %}
                        <div class="{{category}}"> {{message}} </div>
                    {% endfor %}
                {% endif%}
            {% endwith %}

        
</body>
</html>