<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin.css') }}" media="screen" />
    <title>Administrador</title>
</head>
<body>
    <div class="admin-container">
        <h1> Você é Admin!</h1>
        <div class="button-container">
            <a href="/dashboard"> <button type="button"  class="admin-button" > Voltar </button></a>
        </div>
    </div>
</body>
</html>