<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}" media="screen" />
    <title>Index</title>
</head>
<body>
    <div class="container">
        <div class="titulo">
            <h1>Pagina inicial</h1>
        </div>
            <a href="/login"> <button type="button" class="button"> Login </button></a>
        
    <!-- mostrar mensagem flashed -->
    {% with resposta = get_flashed_messages(with_categories = True)%}
    {% if resposta %}
        {% for category, message in resposta %}
            <div class="{{category}}"> {{message}} </div>
        {% endfor %}
    {% endif%}
{% endwith %}
    </div>
    <!-- <footer>
        <p> Paginas e Estilização feitas com ajuda de AI</p>
    </footer> -->
</body>
</html>