<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}" media="screen" />
    <title>Login</title>
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
            <form action="/login" method='POST'>
                <label> Usuário</label>
                <input type="text" name="user" placeholder="Usuário">
                <br>
                <label> Senha</label>
                <input type="password" name="senha" placeholder="Senha">
                <br> 
                <button type="submit" > Login </button>

                <!-- mostrar mensagem flashed -->
            {% with resposta = get_flashed_messages(with_categories = True)%}
            {% if resposta %}
                {% for category, message in resposta %}
                    <div class="{{category}}"> {{message}} </div>
                {% endfor %}
            {% endif%}
        {% endwith %}

            </form>
    </div>  
    <br>     
    
    </div>

</body>
</html>