<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>INDEX</title>
</head>
<body>
    <p> voce entrou no index</p>
    <form action="/login", method="POST">
        <input type="text" name="user" placeholder="Usuário"> <br>
        <input type="password" name="senha" placeholder="Senha"><br>
        <button> Login </button>
    </form>
</body>
</html>