.error{
    color : red
}

.success{
    color : green
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

.dashboard-container {
    text-align: center;
    padding: 50px;
    max-width: 400px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dashboard-container h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
}


.button-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dashboard-button {
    padding: 0.75rem;
    width: 100%;
    font-size: 1rem;
    color: #fff;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dashboard-button:hover {
    background-color: #2980b9;
}
