<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro 403 - Acesso proibido</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='403.css') }}" media="screen" />
</head>
<body>
    <div class="error-container">
        <h1>403</h1>
        <p>Acesso Proibido</p>
        <p>Você não tem permissão para acessar esta página.</p>
        <a href="/dashboard"> <button type="button"   class="button"> Voltar </button></a>
    </div>
</body>
</html>

   
