.error{
    color : red
}

.success{
    color : green
}

.button {
    padding: 15px 30px;
  font-size: 1.2em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
    
}

.main-content {
    text-align: center;
    padding: 20px;
}

.container {
    width: 90%;
    max-width: 500px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    padding: 20px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

h1 {
    font-size: 3em;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
}  